.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.navbar-header__container {
    width: 100%;
    background-color: var(--color-purple);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: var(--padding-large);
    text-align: center;
}
.navbar-header {
    font-size: var(--font-size-large);
    color: var(--color-aqua);
}

/* ------- */
.navbar-search-add__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    padding: var(--padding-large);
    background-color: var(--color-dark-blue);

}

/* ---------- */
.search-form__container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.input-form__input {
    padding: var(--padding-small);
    width: 30%;
    
    background-color: var(--color-aqua-hover);
    border: 1px solid var(--color-aqua);
}
/* ------- */
.button-add__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* responsive design */
@media screen and (max-width: 417px) {
    .search-form__container {
        flex-direction: column;
    }
    .input-form__input {
        width: 190px;
    }
}