body {
    min-width: 300px;
}
.welcome-message {
    font-size: var(--font-size-medium);
    word-wrap: wrap;
    text-align: center;
    padding: var(--padding-large);

}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-large);
    width: 100%;
}
.filter-button__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: var(--padding-large);
    flex-wrap: wrap;
    gap: 1rem;
}

/* ------------- */

.pharmaceutical-list-container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-large);
    padding: var(--padding-large);
    justify-content: left;
    width: 70%;
}
.pharmaceutical-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-aqua-hover);
    padding: var(--padding-large);
    border: 2px solid var(--color-aqua);
    flex-wrap: wrap;
    gap: 1.5rem;
}
h4 {
    font-size: var(--font-size-large);
    padding-bottom: var(--padding-small);
}
/* -------- */

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--padding-large);
    width: 30%;
}

/* responsive design */
@media screen and (max-width: 604px ) {
    .button-container {
        width: 60%;
    }
}
@media screen and (max-width: 437px ) {
    .info-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}